div {
    display: grid;
    min-height: 60dvh;
    grid-template-rows: 
        auto 1fr auto;
    text-align: center;
}

footer {
    color: brown;
    text-align: center;
    padding: 10px;
    border:  solid #ccc;
}

header h1 {
    color: cadetblue;
}

section h2 {
    color: bisque;
}